name: Pre-Commit Checks

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - renovate/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Run Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6.1.0

      - name: Run Pre-Commit Checks
        uses: pre-commit/action@v3.0.1
